* {
    box-sizing: border-box;
}

html, body, .wrapper {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: unset;
    color: unset;
}

